*{
	margin: 3px;
	padding: 0;
}
body{
	background: black;
}

.link {
   font-size: 19px;
   color: #ffffff;
   text-decoration: none;
   background: #d54500;
   padding: 5px 10px;
   border-radius: .5em;
}
 .link:hover {
   background: #999;
}

#imagenes {
   margin: 60px auto;
   width: 630px;
   z-index: 1;
	border-radius: 20px;
}
 #botonera{
   text-align: center;
   padding: 20px;
}

p{
	font-size:90px;
	text-align: center;
	margin: 20px;
}

img{
	margin: auto;
	width: 142px;
	height: 150px;
}

h1{
	color: white;
	text-align: center;
	font-size:50px;
}

hr{
	background: white;
}

#imagenes div {
   float:left;
   width: 142px;
   height: 150px;
   background: linear-gradient(54deg, aqua,magenta);
   margin: 4px;
   padding:1px;
   border: 1px solid #999;
   cursor: pointer;
   border-radius: .5em;
 box-shadow: 0 1px 2px rgba(0,0,0,.5);
   z-index: 2;
}
 #imagenes div img {
   border: none;
   z-index: 3;
}
